body {
  margin: 0;
  background: rgb(251, 251, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'DM Sans', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.main{
  /* width:100%; */
  padding: 0 10px;
}
.main_area{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.header{
  padding: 12px 15px;
  background-color: #ffffff;
  font-size: 1.2em;
  margin-block-end: 0.67em;
  font-weight: 700;
 box-shadow: 3px 3px 15px #ebebeb;
  /* border-bottom: 1px solid rgb(197, 197, 197); */
}
.logo{
  color: #000000;
  display: inline;
}

.c_head{
  float:right;
  padding:3px 5px;
  border: 1px solid #de0913;
  color: #000000;
  border-radius: 5px;
  font-weight: 200;
  font-size: .8rem;
}

.svg-icon{
  position: relative;
  top:4px;
  width: 16px;
  margin:0 6px 0 8px;
  stroke: rgb(75, 75, 75);
}

.search_div{
 width: 90%;
 max-width: 600px;
 margin: 0 auto;
 margin-block-start: 0.67em;
 border: 1px solid rgb(238, 238, 238);
 border-radius: 5px;
 color: rgb(39, 39, 39);
 background-color: #ffffff;
 box-shadow: 5px 5px 30px #e7e7e7;
 transition: 400ms;
}
.search_div:hover{
 border: 1px solid rgb(177, 177, 177);
}
.search_bar{
  font-family: DM Sans;
  font-weight: 400;
  width: 87%;
  display: inline-block;
  border: none;
  background: transparent;
  height: 2.4rem;
  border: none;
  outline: none;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 0.8rem;
}

.card {
  font-size: 0.9rem;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  cursor: pointer;
}
.card_title {
float: left;
width: 70%;
font-family: DM Sans;
}

.card_div_right{
  color: #de0913;
  float: right;
  width: 30%
}

.card_slash{
 margin-right: 10px;
 color: rgb(223, 223, 223);
}

.gpage_code_block{
  /* width:100%; */
  margin-block-start: 0.67em;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 10px #eeeeee;
  border: 1px solid rgb(177, 177, 177)
}
.gpage_code_block_div{
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 22px;
}
.gpage_code_block_ddiv{
  font-size: 1.8rem;
  margin-block-start: 0.3rem;
}
.gpage_code_block_span{
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(112, 112, 112);
}
.gpage_code_block_span svg:first-of-type{
  stroke: #de0913;
  width: 12px;
}
.discription{ 
  font-size: small;
  line-height: 18px;


}

.how-to{
  text-align: center;
  background-color: #ffffff;
  border-top: 3px solid #d8252e;
  border-radius: 5px;
  padding: .5rem 10px;
  margin:3rem 5px;
  box-shadow: 5px 5px 20px #ececec;
}
.how-to h2{
  font-size: 1.8rem;
  margin: .5rem;
}
.how-to p {
  text-align: left;
}
.how-to p:first-of-type{
  text-align: center;
  margin-bottom: 1.5rem;
}
.how-to div{
  border: 2px solid #cc3d44;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;
}
.content_area{
  font-size: 15px;
  line-height: 24px;
  color: #616161;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 5px 5px 20px #ececec;
  /* border-radius:10px; */
}


h1{
  color: rgb(14, 14, 14);
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: .5px;
}
.h1_gpage{
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  white-space: nowrap; 
  letter-spacing: 0;
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
  color:#252525;
}

.label{
  font-size: 1rem;
  font-weight: 400;
  color: #616161;
  margin-block-start: 2em;
}
h2{
  color: #0e0e0e;
}
h3 {
  color: #0e0e0e;
}

a{
  color:#de0913;
  text-decoration: none;
}
.linkto{
   border-bottom: 1px solid #d8252e;
}
.red{
 color: #de0913;
}
.name{
  color: #000000;
  font-size: larger;
  font-weight: bold;
}

.footer{
  text-align: center;
  border-top: 2px solid #dddddd;
  background-color: white;
  padding: 5px 0 20px 0;
}
.footer div:first-of-type{
  font-size: 1.6rem;
  margin:15px
}
.footer p:first-of-type{
  margin:0;
  font-size: .7rem;
}
.footer svg:first-of-type{
  stroke: #de0913;
  fill: #de0913;
  width:18px;
  position: relative;
  top: 4px;
}