body {
  margin: 0 ;
  background: rgb(251, 251, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'DM Sans', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.main{
  /* width:100%; */
  padding: 0 10px;
}
.main_area{
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
.header{
  padding: 12px 15px;
  background-color: #ffffff;
  font-size: 1.2em;
  margin-block-end: 0.67em;
  font-weight: 700;
 box-shadow: 3px 3px 15px #ebebeb;
  /* border-bottom: 1px solid rgb(197, 197, 197); */
}
.c_head{
  float:right;
  padding:2px 5px;
  border: 1px solid red;
  border-radius: 5px;
  font-weight: 200;
  font-size: .8rem;
}

.svg-icon{
  position: relative;
  top:4px;
  width: 16px;
  margin:0 6px 0 8px;
  stroke: rgb(75, 75, 75);
}

.search_div{
 width: 90%;
 max-width: 600px;
 margin: 0 auto;
 margin-block-start: 0.67em;
 border: 1px solid rgb(238, 238, 238);
 border-radius: 5px;
 color: rgb(39, 39, 39);
 background-color: #ffffff;
 box-shadow: 5px 5px 20px #e7e7e7;
 transition: 400ms;
}
.search_div:hover{
 border: 1px solid rgb(177, 177, 177);
}
.search_bar{
  font-family: DM Sans;
  font-weight: 400;
  width: 87%;
  display: inline-block;
  border: none;
  background: transparent;
  height: 2.4rem;
  border: none;
  outline: none;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 0.8rem;
}

.card {
  font-size: 0.9rem;
  padding: 0.5em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  cursor: pointer;
}
.card_title {
float: left;
width: 70%;
font-family: DM Sans;
/* height: 1.2rem;
overflow: hidden; 
 text-overflow: ellipsis; */
}

.card_div_right{
  float: right;
  width: 30%
}

.card_slash{
 margin-right: 10px;
 color: rgb(223, 223, 223);
}

.gpage_code_block{
  /* width:100%; */
  margin-block-start: 0.67em;
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.gpage_code_block_div{
  font-size: 1.3rem;
}
.gpage_code_block_ddiv{
  font-size: 1.8rem;
}
.gpage_code_block_span{
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
}



h1{
  color: rgb(14, 14, 14);
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: .5px;
}
.h1_gpage{
  font-size: 1.4rem;
  font-weight: 300;
  text-align: left;
  letter-spacing: -.5px;
  color: #222222;
}
.h1_gpage_div{
 font-size: 0.9rem;
 font-weight: 300;
 color: rgb(95, 95, 95);
 letter-spacing: 0;
}

h2{
  font-size: 1rem;
  font-weight: 400;
  color: #a3a3a3;
  margin-block-start: 2em;
}


h3 {
  color: brown;
}

a{
  color:#de0913;
  text-decoration: none;
}

.red{
 color: #de0913;
}

